dj-database-url==0.4.1
Django==1.10.1
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2.1
django-bootstrap3
django-toolbelt
alabaster
anaconda-client
anaconda-project
asn1crypto
astroid
astropy
babel
backports.shutil-get-terminal-size
beautifulsoup4
bitarray
bkcharts
blaze
bleach
bokeh
boto
Bottleneck
CacheControl
certifi
cffi
chardet
click
cloudpickle
clyent
colorama
comtypes
conda
conda-build
contextlib2
cryptography
cycler
Cython
cytoolz